<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.repository.oa.task.MsgDao">
    <!-- com.jy.entity.oa.task.MsgInfo  -->
    <resultMap id="base" type="MsgInfo"></resultMap>
    <select id="find" resultMap="base" parameterType="MsgInfo">
        SELECT t.* FROM MSG_INFO t WHERE 1=1
        <if test="id != null and id!='' ">
            AND t.id=#{id}
        </if>
        <if test="paramKey != null and paramKey!='' ">
            AND t.name=#{paramKey}
        </if>
        <if test="taskinfoid != null and taskinfoid!='' ">
            AND t.taskinfoid=#{taskinfoid}
        </if>
    </select>
    <select id="findByPage" resultMap="base" parameterType="MsgInfo">
        SELECT t.* FROM MSG_INFO t WHERE 1=1
        <if test="param.id!= null and param.id!='' ">
            AND t.id=#{param.id}
        </if>
        <if test="param.receiverid!= null and param.receiverid!='' ">
            AND t.receiverId=#{param.receiverid}
        </if>
        <if test="param.status!= null and param.status!='' ">
            AND t.status=#{param.status}
        </if>

        <if test="param.keyWord!= null">
            AND (
            t.name LIKE CONCAT('%',#{param.keyWord},'%')
            )
        </if>
        order by t.createTime desc
    </select>
    <select id="count" resultType="int" parameterType="MsgInfo">
       SELECT count(*) FROM MSG_INFO t WHERE 1=1 
    </select>
    <insert id="insert" parameterType="MsgInfo">
 	<![CDATA[


 insert into MSG_INFO (id, name, type,
      createTime, senderId, receiverId,
      status, content)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP}, #{senderid,jdbcType=VARCHAR}, #{receiverid,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})


        ]]>
	</insert>
    <delete id="delete" parameterType="MsgInfo">
	DELETE FROM MSG_INFO  WHERE 1=1 
	AND id=#{id}
	</delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM MSG_INFO
        WHERE id IN(
        <foreach item="o" collection="list" open="" separator="," close="">
            #{o.id}
        </foreach>
        )
    </delete>
    <update id="update" parameterType="MsgInfo">
		UPDATE MSG_INFO 
		SET 
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      senderId = #{senderid,jdbcType=VARCHAR},
      receiverId = #{receiverid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
		WHERE 
			id=#{id}
	</update>
</mapper>