<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.repository.oa.userdef.UserdefDao">
    <!-- com.jy.entity.oa.userdef.Userdef  -->
    <resultMap id="base" type="Userdef"></resultMap>
    <select id="find" resultMap="base" parameterType="Userdef">
        SELECT t.* FROM OA_USERDEF t WHERE 1=1
        <if test="id != null and id!='' ">
            AND t.id=#{id}
        </if>
        <if test="pid != null and pid!='' ">
            AND t.pId=#{pid}
        </if>

    </select>
    <select id="findByPage" resultMap="base" parameterType="Userdef">
        SELECT t.* FROM OA_USERDEF t WHERE 1=1
        <if test="param.id!= null and param.id!='' ">
            AND t.id=#{param.id}
        </if>

        order by t.createTime desc
    </select>
    <select id="count" resultType="int" parameterType="Userdef">
       SELECT count(*) FROM OA_USERDEF t WHERE 1=1 
    </select>
    <insert id="insert" parameterType="Userdef">
 	<![CDATA[
        

	INSERT INTO OA_USERDEF(
	id, account_id, name, 
      copyto, approver, wkey, 
      wname, pId, createTime, 
      updateTime, attach
	) VALUES (
#{id,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{copyto,jdbcType=VARCHAR}, #{approver,jdbcType=VARCHAR}, #{wkey,jdbcType=VARCHAR}, 
      #{wname,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{attach,jdbcType=LONGVARCHAR}
	)

        
        ]]>
	</insert>
    <delete id="delete" parameterType="Userdef">
	DELETE FROM OA_USERDEF  WHERE 1=1 
	AND id=#{id} 
	</delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM OA_USERDEF
        WHERE id IN(
        <foreach item="o" collection="list" open="" separator="," close="">
            #{o.id}
        </foreach>
        )
    </delete>
    <update id="update" parameterType="Userdef">
		UPDATE OA_USERDEF 
		SET 
			 account_id = #{accountId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      copyto = #{copyto,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      wkey = #{wkey,jdbcType=VARCHAR},
      wname = #{wname,jdbcType=VARCHAR},
      pId = #{pid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      attach = #{attach,jdbcType=LONGVARCHAR}
		WHERE 
			id=#{id}
	</update>
</mapper>