<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.repository.attendance.WorkRecordDao">
    <!--  com.jy.entity.attendance.WorkRecord -->
    <resultMap id="base" type="WorkRecord"></resultMap>
    <select id="find" resultMap="base" parameterType="WorkRecord">
        SELECT t.* FROM JY_WORK_RECORD t WHERE 1=1
        <if test="id != null and id!='' ">AND t.id=#{id}</if>
        <if test="date != null and date!='' ">AND t.date=#{date}</if>
        <if test="employeeName != null and employeeName!='' ">AND t.employeeName LIKE
            CONCAT('%',#{param.employeeName},'%')
        </if>
        <if test="company != null and company!='' ">AND t.cid=#{company}</if>
    </select>
    <select id="findByPage" resultMap="base" parameterType="WorkRecord">
        SELECT t.id, t.type, t.employee, t.employeeName,t.location, t.picture, t.date, t.week, t.morning, t.beforenoon,
        t.afternoon,
        t.night FROM JY_WORK_RECORD t
        WHERE 1=1
        <if test="param.employee != null and param.employee!='' ">
            AND t.employee LIKE CONCAT('%',#{param.employee},'%')
        </if>

        <if test="param.employeeName != null and param.employeeName!='' ">
            AND t.employeeName LIKE CONCAT('%',#{param.employeeName},'%')
        </if>
        <if test="param.keyWord!=null and param.keyWord!='' ">
            AND t.employeeName LIKE CONCAT('%',#{param.keyWord},'%')
        </if>
        <if test="param.starttime!=null and param.starttime!='' ">
            AND t.date <![CDATA[>=]]> #{param.starttime}
        </if>
        <if test="param.endtime!=null and param.endtime!='' ">
            AND t.date <![CDATA[<=]]> #{param.endtime}
        </if>

        <if test="param.company != null and param.company!='' ">
            AND t.cid=#{param.company}
        </if>

        ORDER BY t.date desc
    </select>
    <select id="count" resultType="int" parameterType="WorkRecord">
        SELECT count(*)
        FROM JY_WORK_RECORD t
        WHERE 1 = 1
        <if test="company != null and company!='' ">AND t.cid=#{company}</if>
    </select>
    <insert id="insert" parameterType="WorkRecord">
    <![CDATA[

        INSERT INTO JY_WORK_RECORD (
            id, type, employee, employeeName, location, picture, date, week, morning, beforenoon, afternoon,
            night,cid
        ) VALUES (#{id,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{employee,jdbcType=VARCHAR},
                                          #{employeeName,jdbcType=VARCHAR},
                                          #{location,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR},
                                          #{date,jdbcType=DATE},
                                          #{week,jdbcType=VARCHAR}, #{morning,jdbcType=VARCHAR},
                                          #{beforenoon,jdbcType=VARCHAR},
                                          #{afternoon,jdbcType=VARCHAR}, #{night,jdbcType=VARCHAR},
                                          #{company})

        ]]>
  </insert>
    <delete id="delete" parameterType="WorkRecord">DELETE FROM JY_WORK_RECORD
    WHERE 1 = 1 AND id = #{id}</delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM JY_WORK_RECORD WHERE id IN(
        <foreach item="o" collection="list" open="" separator="," close="">#{o.id}</foreach>
        )
    </delete>
    <update id="update" parameterType="WorkRecord">
        UPDATE JY_WORK_RECORD
        SET
            type       = #{type,jdbcType=CHAR},
            employee   = #{employee,jdbcType=VARCHAR},
            location   = #{location,jdbcType=VARCHAR},
            picture    = #{picture,jdbcType=VARCHAR},
            date       = #{date,jdbcType=DATE},
            week       = #{week,jdbcType=VARCHAR},
            morning    = #{morning,jdbcType=VARCHAR},
            beforenoon = #{beforenoon,jdbcType=VARCHAR},
            afternoon  = #{afternoon,jdbcType=VARCHAR},
            night      = #{night,jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>


</mapper>